<div class="factura">
  <div class="contenido">
    <form action="" [formGroup]="factura">
      <h2>Factura</h2>

      <div class="campo">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre del cliente</mat-label>
          <input formControlName="cliente" matInput placeholder="Cliente">
        </mat-form-field>
      </div>
      <div class="campo">

        <mat-form-field class="example-full-width">
          <mat-label>Saldo del cliente</mat-label>
          <input formControlName="dinero" matInput placeholder="Saldo ">
        </mat-form-field>
      </div>

      <div class="button">
        <button mat-flat-button color="primary" (click)="calcVueltos()">Continuar</button>
      </div>

    </form><!--form factura-->

    <div *ngIf="state" class="result">

      <mat-card class="mat-elevation-z0 ">
        <mat-card-content>
          <h3>Resumen de Compra</h3>
          <div>
            <p>Cliente: {{factura.value.cliente}}</p>
            <p>Saldo: {{factura.value.dinero}} $</p>
            <p>Total Factura: {{precioLista}} $</p>
          </div>
          <div class="cardPrice">
            <div>Vueltos: </div>
            <div> {{vueltos}} $</div>
          </div>


        </mat-card-content>
      </mat-card>
      <button mat-stroked-button (click)="terminate()">Finalizar Compra</button>
    </div><!--result-->
  </div><!--Contenido-->
</div><!--Factura-->