<div class="table">
  <h2>Listado Productos

  </h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 " #tabla>

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="#">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index">{{i+1}} </td>
    </ng-container>

    <!-- Name Column -->
    <!-- <ng-container matColumnDef="Código">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
    </ng-container> -->

    <!-- Weight Column -->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Cantidad">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
    </ng-container>
    <ng-container matColumnDef="Precio Unitario">
      <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
      <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
    </ng-container>

    <ng-container matColumnDef="Opciones">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let element">
        <div>
          <button mat-icon-button aria-label="Example icon button with a home icon" (click)="edit(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="Example icon button with a home icon" (click)="eliminate(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- <div *ngFor="let producto of listadoTabla; let i = index">
    <div class="persona">
      <p class="truncate">
        {{ i + 1 }}. {{ producto.apellido }} - {{ producto.nombre }} {{ producto.cantidad }} {{ producto.precio }}$
        {{ producto.email }}
      </p>
      <div>
        <button mat-icon-button aria-label="Example icon button with a home icon" (click)="edit(producto)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon button with a home icon" (click)="eliminate(producto)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>


    </div>


  </div> -->

  <mat-card *ngIf="listadoTabla.length >0" class="mat-elevation-z0 ">
    <mat-card-content>
      <div class="cardPrice">
        <div>Precio Total</div>
        <div>{{precioLista}} $</div>
      </div>

    </mat-card-content>
  </mat-card>


</div>