<div class="table">

  <h2>Listado Productos</h2>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 " #tabla>

    <!-- index Column -->
    <ng-container matColumnDef="#">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index">{{i+1}} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Cantidad Column -->
    <ng-container matColumnDef="Cantidad">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.seleccionado}} </td>
    </ng-container>

    <!-- Precio Column -->
    <ng-container matColumnDef="Precio Unitario">
      <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
      <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
    </ng-container>
    <!-- Lote Column -->
    <ng-container matColumnDef="Lote">
      <th mat-header-cell *matHeaderCellDef>Lote</th>
      <td mat-cell *matCellDef="let element"> {{element.lote}} </td>
    </ng-container>

    <!-- Opciones Column -->
    <ng-container matColumnDef="Opciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <div>
          <button mat-icon-button aria-label="Example icon button with a home icon" (click)="edit(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="Example icon button with a home icon" (click)="eliminate(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table><!--table-->

  <mat-card *ngIf="listadoTabla.length >0" class="mat-elevation-z0 ">

    <mat-card-content>
      <div class="cardPrice">
        <div>Precio Total</div>
        <div>{{precioLista}} $</div>
      </div>
    </mat-card-content>

  </mat-card><!--Mat-card precio-->

</div><!--Table-->