<div class="title">
  <mat-icon routerLink="/inventario">format_list_bulleted</mat-icon>

  <h1>{{titulo}}</h1>

  <mat-icon *ngIf="editingStatus">edit</mat-icon>
</div>
<div class="table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 demo-table">

    <!-- Index Column -->
    <ng-container matColumnDef="#">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index">{{i+1}} </td>
    </ng-container>

    <!-- Cantidad Column -->
    <ng-container matColumnDef="Cantidad">
      <th mat-header-cell *matHeaderCellDef>Cantidad</th>
      <td mat-cell *matCellDef="let element">{{element.cantidad}}</td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
    </ng-container>

    <!-- Codigo Column -->
    <ng-container matColumnDef="Codigo">
      <th mat-header-cell *matHeaderCellDef>Codigo</th>
      <td mat-cell *matCellDef="let element">{{element.codigo}}</td>
    </ng-container>

    <!-- Lote Column -->
    <ng-container matColumnDef="Lote">
      <th mat-header-cell *matHeaderCellDef>Lote</th>
      <td mat-cell *matCellDef="let element">{{element.lote}}</td>
    </ng-container>

    <!-- Precio Column -->
    <ng-container matColumnDef="Precio">
      <th mat-header-cell *matHeaderCellDef>Precio</th>
      <td mat-cell *matCellDef="let element">{{element.precio}} $</td>
    </ng-container>

    <!-- Fecha de Llegada Column -->
    <ng-container matColumnDef="Fecha Llegada">
      <th mat-header-cell *matHeaderCellDef>Fecha Llegada</th>
      <td mat-cell *matCellDef="let element">{{element.fechain}}</td>
    </ng-container>

    <!-- Fecha de Vencimiento Column -->
    <ng-container matColumnDef="Fecha Vencimiento">
      <th mat-header-cell *matHeaderCellDef>Fecha Vencimiento</th>
      <td mat-cell *matCellDef="let element">{{element.fechain}}</td>
    </ng-container>

    <!-- Aciones Column -->
    <ng-container *ngIf="editingStatus" matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef=" let element">
        <mat-icon *ngIf="editingStatus" (click)="openDialog(element)">edit</mat-icon>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>