<div class="view">
  <div class="pages">
    <button routerLink="/tienda">
      <div>
        <mat-card class="example-card">

          <div class="titulo">
            <h2>
              Caja
            </h2>
          </div>
          <div class="icon">
            <mat-icon>shopping_cart</mat-icon>
          </div>

        </mat-card>

      </div>
    </button><!--button tienda-->

    <button routerLink="/inventario">
      <div>
        <mat-card class="example-card">
          <div class="titulo">
            <h2>
              Inventario
            </h2>
          </div>
          <div class="icon">
            <mat-icon>format_list_bulleted</mat-icon>
          </div>
        </mat-card>
      </div>
    </button><!--button Inventario-->
  </div><!--pages-->
</div><!--view-->